* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 70px;
    background-color: darkcyan;
    align-items: center;
}

footer{
    padding: 3em;
    margin-top: auto;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    display: flex;
}

.logo {
    flex: 1;
}

.others {
    flex: 4;
    display: flex;
}

.others li {
    padding: 0 12px;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.others li
a {
    color: white;
    font-size: 15px;
}

.logo {
    position: relative;
}

.others li:nth-child(1) {
    position: relative;
}

.others li:nth-child(1) input {
    height: 40px;
    width: 600px;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
}

.others li:nth-child(1) i {
    position: absolute;
    font-size: 20px;
    right: 20px;
    top: 6px;
    color: black;
    line-height: 30px;
}

.others li:nth-child(2) {
    position: relative;
}

.others li:nth-child(2) i {
    font-size: 30px;
    padding: 6px;
    color: white;
}

.others li:nth-child(3) button {
    height: 40px;
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.3 ease;
}

.others li:nth-child(3) button i {
    padding-right: 6px;
}

/*-------------------------------------slide----------------------*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 20px auto;
}

.mySlides {
    display: none;
    object-fit: cover;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/*-----------------------------------Product-------------------------------------*/
.product-item {
    width: 23%;
    margin: 1%;
    padding: 10px;
    float: left;
}

.product-item .card-image {
    display: block;
    position: relative;
    text-align: center;
    background: #fff;
    /*height: 175px;*/
    white-space: nowrap;
}

.product-item .card-title {
    display: block;
    font-size: 13px;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    text-align: left;
    margin: 8px auto 0;
    height: 36px;
    line-height: 18px;
}

.product-item .author {
    padding: 5px 0 0;
    color: #777;
    font-size: 11px;
    text-align: left;
}

.product-item .price-sale {
    font-size: 14px;
    color: #444;
    font-weight: 700;
    padding: 5px 0 0;
    text-align: left;
}

.product-item .price-sale .price-regular {
    font-size: 11px;
    color: #999;
    text-decoration: line-through;
    display: inline;
    text-align: left;
    padding-top: 5px;
}

.product-item .sale-tag-square {
    background-color: red;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
    margin-top: -2px;
    padding: 5px;
    vertical-align: middle;
}

.product-item .review {
    text-align: left;
}

.product-item .rating,
.product-item .review {
    font-size: 12px;
    display: inline-block;
    padding: 5px 0 0;
}

.product-item .card-content a {
    color: #777;
}

.product-item .card-content p {
    margin: 0 !important;
}

.product-item .card-content {
    padding: 16px;
}

.product-item .card-action {
    padding: 10px 15px;
}

.card .card-content .card-title {
    line-height: inherit;
}

.badge {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: red;
    border-radius: 2px;
}

.badge {
    min-width: 3rem;
    padding: 0 6px;
    margin-left: 14px;
    text-align: center;
    line-height: 22px;
    height: 22px;
    float: right;
    box-sizing: border-box;
}

footer {
    background-color: #00b7f1;
    height: 50px;
    margin-top: auto;
    width: 100%;
}

/*------------------------product----------------------------------*/
.product{
    padding: 10px 0;
}
.product-top{
    display: flex;
    margin-bottom: 30px;
}
.product-top p {
    margin: 0 12px;
    font-size: 12px;
}
.product-top span {
    font-size: 12px;
}
.product-content-left {
    width: 50%;
}
.product-content-left-big-img {
    width: 80%;
    padding-right: 10px;
}

.product-content-left-big-img img{
    width: 100%;
}

.product-content-left-small-img {
    width: 20%;
    
}

.product-content-left-small-img img{
    width: 100%;
    cursor: pointer;
}

.product-content-right {
    width: 50%;
    padding-left: 20px;
}
.product-content-right-product-name h1 {
    font-size: 16px;
}
.product-content-right-product-name p {
    color: #999;
    font-size: 12px;
}
.product-content-right-product-price {
    margin: 12px 0;
    padding-left: 12px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    width: 400px;
}
.product-content-right-product-price h1{
    font-size: 24px;
    font-weight: bold;
    padding-top: 6px;
}
.product-content-right-product-price p{
    font-size: 12px;
    padding-bottom: 6px;
}
.product-content-right-product-price p del{
    font-size: 12px;
    font-weight:thin;
    padding-right: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.quality {
    display: flex;
    margin-bottom: 20px;
}
.quality input {
    height: fit-content;
    width: 40px;
    padding-left: 3px;
    margin-left: 6px;
}
.product-content-right-product-button button {
    width: 200px;
    height: 60px;
    display: block;
    margin: 20px 0 12px;
    background-color:red;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.product-content-right-bottom {
    padding-top: 40px;
    position: relative;
    border-top: 1px solid #dddddd;
}
.product-content-right-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: white;
    cursor: pointer;
}

.product-content-right-bottom-content-title {
    border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-content-title-item {
    width: 200px;
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-bottom-content-title-item p {
    font-size: 12px;
}
.product-content-right-bottom-content-mota{
    display: none;
}

.product-content-right-bottom-content-chitiet table { border-collapse: collapse;}
.product-content-right-bottom-content-chitiet table th {
    background-color: #cccccc;
}
.product-content-right-bottom-content-chitiet table tr { display: block; float: left; border: 0.3px solid black; }
.product-content-right-bottom-content-chitiet table tr tr{ display: block; float: left; }
.product-content-right-bottom-content-chitiet table th, table td { display: block; border: none; padding: 12px; }

.activeB {
    display: none;
}
/*-------------------------cart-------------------------------*/
.cart {
    padding: 100px 0;
}
.cart-content-left {
    flex: 2;
    padding-right: 12px;
}
.cart-content-left table{
    width: 100%;
    text-align: center;
}
.card-content-right {
    flex: 1;
}